output/*
data/ld/*
data/ld.zip
data/ld_blocks/chr1*
data/ld_blocks/chr20*
data/ld_blocks/chr21*
data/ld_blocks/*chr1*
data/ld_blocks/*chr20*
data/ld_blocks/*chr21*
example_files/*
!example_files/model_files.txt
!example_files/full_ld_files.txt
!example_files/chr20-22_full_ld_files.txt
!example_files/chr22_ld_files.txt
!example_files/ld_files.txt
data/af/*
data/ld_score/*
mlmages/__pycache__/*
mlmages/test.py
mlmages/ex_bivar.py
scripts/test*

