chiscore==0.2.3  #Optional: if installation fails, an alternative implementation of enrichment test will be used.
matplotlib==3.8.1
numpy==2.2.2
pandas==2.2.3
pandas_plink==2.2.9
scikit_learn==1.3.2
scipy==1.15.1
seaborn==0.13.2
statsmodels==0.14.0
torch==2.2.1
tqdm==4.66.1
